main {
  margin-top: 76.33px;
  padding: 30px 20px 0 30px 20px;
}

.items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 0 10px 0 10px;
}

.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list__img img {
  width: 50px;
}

.item-list__info-title {
  font-size: 20px;
}

.item-list__info {
  height: 130px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-top: 7px;
}

.item-list__info-meta {
  font-size: smaller;
  color: gray;
}

.item-list__info-price {
  font-weight: bold;
}

.write {
  position: fixed;
  right: 10px;
  bottom: 70px;
  font-size: 15px;
  background-color: orange;
  color: white;
  padding: 12px 15px 12px 15px;
  border-radius: 36px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.2s ease-in-out;
}

.write:hover {
  background-color: rgba(254, 111, 15, 0.5);
}
